/* Dark semi-transparent background overlay */

body {
  overflow-y: auto;
  height: 140vh;
}
#success-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-y: auto; /* Allows scrolling inside the modal */
}

/* Modal container with padding and responsive design */
.success-container {
  text-align: center;
  color: white;
  background-color: #28a745;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 600px;
  width: 90%;
  max-height: 120vh; /* Ensures content doesn't overflow too much */
  overflow-y: auto; /* Scrollable modal content */
  padding-bottom: 100px;
}

/* Success icon styling */
.success-icon {
  font-size: 60px;
  margin-bottom: 20px;
  animation: bounce 0.8s ease;
}

/* Button and copy button styling */
.button,
.copy-button {
  background-color: white;
  color: #28a745;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover,
.copy-button:hover {
  background-color: #e9e9e9;
  transform: scale(1.05);
}

/* PIX section styling */
.pix-section {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.pix-code-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#pix-code {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #f1f1f1;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Tooltip styling */
.pix-tooltip {
  position: absolute;
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.show-tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(10px);
}

.youtube-container {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

.youtube-container:hover {
  background-color: white; /* Slightly darker red on hover */
}

/* WhatsApp link section styling */
.whatsapp-link {
  margin-top: 20px;
}

.whatsapp-link a {
  color: white;
  background-color: #25d366;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.whatsapp-link a:hover {
  background-color: #1bc059;
}

/* Media query for smaller devices */
@media (max-width: 600px) {
  .success-container {
    padding: 20px;
  }

  .button,
  .copy-button {
    font-size: 14px;
    padding: 10px 20px;
  }

  #pix-code {
    width: 100%;
  }
}
